.product-carts {
  gap: 8%;
}
.product-cart {
  width: calc(100% - 38%);
}
.cart-items-summary {
  width: 30%;
  border: 1px solid var(--bs-neutral-300);
  border-radius: 8px;
  padding: 24px 28px;
}
.breadcrumb {
  --bs-breadcrumb-margin-bottom: 1.3rem;
  --bs-breadcrumb-divider-color: var(--bs-neutral-300);
  --bs-breadcrumb-item-active-color: var(--bs-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.breadcrumb-item.active {
  color: var(--bs-neutral-600);
}
.breadcrumb-item {
  color: var(--bs-neutral-400);
}
.product-cart .cart-item {
  border-bottom: 1px solid var(--bs-neutral-200);
  padding-bottom: 16px;
}
.cart-item-img {
  width: 80px;
  height: 80px;
  background: var(--bs-neutral-50);
  border-radius: 4px;
  padding: 3px 10px 0 10px;
}
.cart-item-info .cart-item-name {
  width: calc(100% - 104px);
}
.cart-item-action {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--bs-neutral-200);
  cursor: pointer;
}
.cart-item-action:hover i {
  color: var(--bs-danger-500);
}
.cart-items-summary h6 {
  border-bottom: 1px solid var(--bs-neutral-200);
  padding-bottom: 14px;
  text-align: center;
}

.list-group-item + .list-group-item input {
  width: 80px;
  height: 40px;
  border: none;
  background: #f6f6f6;
  padding: 8px;
  text-align: center;
  font-size: 16px;
}
